<div class="container mt-5">
    <div class="row d-flex justify-content-left">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-left mb-3">
                <form action="{% url 'comment_on_listing' listing.id %}" method="POST"
                    class="d-flex flex-row add-comment-section mt-4 mb-4">
                    {% csrf_token %}
                    <input type="text" required class="form-control mr-3" name="posted_comment_content" placeholder="Add comment">
                    <input class="btn btn-primary" type="submit" value="Comment">
                </form>
            </div>


            {% for comment in comments %}

                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-left">
                        <div class="user d-flex flex-row align-items-left"> 
                            <span>
                                <small class="font-weight-bold text-primary">{{ comment.author.username }}</small>
                                <small class="font-weight-bold">{{ comment.content }}</small>
                            </span>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>