{% extends 'auctions/layout.html' %}

{% block body %}

    <h1>Listing: {{ listing.title }}</h1>
    <div>Watchlist indicator</div>
    
    {% if listing.image_url %}
        <div>
            <img class="fit-picture" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        </div>
    {% endif %}
    
    <div>
        <p>{{ listing.description }}</p>
    </div>
    <h2>
        {% if current_bid %}
            $ {{ current_bid.amount }}
        {% else %}
            $ {{ listing.starting_bid }}
        {% endif %}
    </h2>
    <div>
        <p> {{ bids|length }} bid(s) so far.
            {% if current_bid.bidder == user %}
                Your bid is the current bid.
            {% endif %}
        </p>
    </div>

    {% if listing.seller != user %}

        <form action="{% url 'bid_on_listing' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" required type="number" name="bid_amount" placeholder="Bid on this listing">
            </div>
            <input class="btn btn-primary" type="submit" value="Bid">
        </form>

    {% else %}

        <div class="d-flex flex-row">
            <div class="p-2">
                <h4>Close this auction?</h4>
            </div>
            <div class="p-2">
                <form action="{% url 'close_listing' listing.id %}">
                    <input class="btn btn-primary" type="submit" value="Close">
                </form>
            </div>
        </div>

    {% endif %}
    <h2>Details</h2>
    <ul>
        <li>Listed by: <a href="">{{ listing.seller }}</a></li>
        <li>Category: {{ listing.category }}</li>
    </ul>

    <h2>Comments</h2>
    {% include "auctions/comments.html" %}

{% endblock %}